
html {
  width: 100%;
  height: 100%;
}

.wrapperz {
  position: relative;
  top: 200px;

  height: auto;
  min-height: 100%;
}


#show-data {
  height: 200px;
}

.second-section {
  position: relative;
  bottom: 0px;

  width: 100%;
  height: 200px;

  background-color: orange;
}


ul {
  position: relative;

  margin: 0;
  padding: 0;

  list-style:none;

  background: #fff;

}



a {
  color: #693935;
}

#lista {

}

.main-menu li:hover {
  background-color: #eae3d7;
}




.main-menu li ul li {
  text-align: left;
}

.main-menu i {
  float: right;

  padding-top: 3px;
  padding-left: 10px;

  text-align: right;

  color: rgb(205, 169, 121);
}
.main-menu li:hover > i {
  color: #693935;
}



.main-menu li {
  position: relative;

  display: inline;

  min-width: 150px;
  padding: 8px 12px 8px 12px;

  list-style: none;

  cursor: pointer;
  text-align: center;

  color: #693935;
  border: none;

  font-size: 12px;
}

ul ul {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;

  border: 1px solid;
  border-color: rgb(205, 169, 121);
  background: #fff;

}

ul ul ul {
  top: 0;
  left: 100%;

  background: #fff;

}

li:hover > ul {
  display: block;
}


p {
  clear: left;

  padding-top: 1em;
}



ol, ul {
  list-style: none;

  text-align: center;
}

#nav-secondary-right {
  position: relative;

  float: right;

  letter-spacing: normal;

  font-size: 14px;
}

#nav-secondary-right li a span {
  padding: 0 10px;

  border-right: 1px solid #ccc;
}

.header-container li{
  display: inline-block;



}

body {
  position: absolute;

  width: 100%;
  height: 100%;
}

.header {
  position: relative;

  display: inline-block;

  width: 100%;

}



.logo img{
  display: inline-block;

  height: 109px;

  vertical-align: top;


}

.search {
  display: inline-block;

  margin-top: 40px;
  padding: inherit;

  vertical-align: top;

  border: 1px solid #e2d9c8;


}

.popup {
  position: absolute;
  z-index: 10000;
  top: 95px;
  right: 0px;

  display: none;

  width: 360px;
  height: 400px;

  border: 1px solid black;
  background-color: white;
}

div.selected {
  display: block;
}

.overlay {
  position: absolute;
  z-index: 10000;
  top: 0;

  display: none;

  width: 100%;
  height: 2000px;
  margin: inherit;

  opacity: 0.5;
  background-color: black;
}

.overlay-active {
  display: block;
}

div.selected > #overlay {
  display: block;
}

.product {
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.name{
  position: absolute;
  left: 0px;

  width: 66%;
  margin: 0;
  padding: 0;
}

.price{
  position: absolute;
  right: 0px;

  width: 33%;
  margin: 0;
  padding: 0;
}

#pezzi {
  float: right;

  margin: 2px 0px 2px 0px;
  padding-left: 15px;

  border-left: 3px solid #693935;
}

#car {
  float: left;
}

.cart-wrapper {
  position: relative;
}

.carrello {
  position: relative;
  z-index: 10000;

  display: inline-block;

  margin-top: 40px;

  vertical-align: top;

  border: 3px solid #693935;
  background-color: white;

  font-size: 2em;



}

input#search {
  width: 90%;
  height: 50px;

  border: none;
}

.account {
  display: inline-block;

  margin-top: 40px;

  vertical-align: top;



}

#news {
  width: 100%;
  margin-bottom: 2px;

  text-transform: uppercase;

  color: #693935;
  border: inherit;
  background-color: #eae3d7;

}

#rec {
  width: 100%;

  text-transform: uppercase;

  color: #fff;
  border: inherit;
  background-color: #739ec9;
}

.header-container{
  background-color: inherit;
}

.liuk {
  position: relative;

  overflow: hidden;
}



/* Dropdown Button */
/*
.dropbtn {
background-color: white;
color: #693935;
padding: 16px;
font-size: 12px;
border: none;
cursor: pointer;
}

.dropsdbtn {
background-color: white;
color: #693935;
padding: 16px;
font-size: 12px;
border: none;
cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
/*
.dropdown {
position: relative;
display: inline-block;
font-size: 12px;

}
.dropside {
position: relative;
height: 45px;
display: inline-block;
font-size: 12px;

}
.maindrop {
position: absolute;
}

/* Dropdown Content (Hidden by Default) */
/*
.dropdown-content {
opacity: 0;
display: none;
position: absolute;
height: 200px;
background-color: #f9f9f9;
min-width: 190px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropside-content {


display: none;
position: relative;
left: 190px;
top: -45px;
background-color: #f9f9f9;
min-width: 190px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

@keyframes dropshow {
from {opacity: 0;}
to {opacity: 1;}
}

/* Links inside the dropdown */
/*
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropside-content a {

color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Change color of dropdown links on hover */
/*
.dropdown-content a:hover {background-color: #f1f1f1; }
.dropside-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
/*
.dropdown:hover .dropdown-content {
display: block;
animation-name: dropshow;
animation-duration: 1s;
opacity: 1;
}

.dropside:hover .dropside-content {
display: block;
animation-name: dropshow;
animation-duration: 1s;
opacity: 1;
}




/* Change the background color of the dropdown button when the dropdown content is shown */
/*
.dropdown:hover .dropbtn {
background-color: #f1f1f1;
}
.dropside:hover .dropsdbtn {
background-color: #f1f1f1;
}

.dropdown-content.a:hover .dropdown-content.a {
background-color: #f1f1f1;
}
*/
.navbar {
  min-height: 30px;

  border-radius: 0;
}

.navbar-default {
  border-color: #693935
  border-right: none;
  border-left: none;
  background-color: inherit;
}


/* LIUK CSS */

.page-title h1{
  color: #6a3935;

  font-size: 30px !important;
}

.container{
  width: 100%;
  padding: 0 20px;
}

.container_filtri{
  position: relative;
  top: 200px;

  float: left;
}
.container_dettagli_offerta{
  margin-bottom: 20px;
  padding: 15px 0px 15px 0px;

  background-color: #eae3d7;
}

.text_verticalPaddingbottom{
  padding-bottom: 3px;
}

.paddingWrite{
  padding-bottom: 15px;
}

.text_verticalPaddingtop{
  padding-top: 15px;
}

.vini_img{
  width: 585px;
  height: 209px ;
}

.text_description{
  color: #693935;
}

.text_description2{
  color: #927573;

  font-size: 12px;
}

.ssl{
  font-size: 7px;
  padding-top: 20px;
  color: black;
}


.font-weight{
  font-weight: 700;
}

.items_filtri{
  position: relative;

  display: block;

  text-transform: uppercase;

  border: 1px solid #eae3d7;

  font-size: 13px;
  line-height: 1.4;
}

.items_filtri li{
  padding: 7px 10px 7px 24px;

  border-bottom: 1px solid #eae3d7;
}
.filter-products{
  position: relative;
}

.filter-icon{
  position: absolute;
  top: 50%;
  right: 0;

  width: 25px;

  -webkit-transform:	translateY(-50%);
  -moz-transform:	translateY(-50%);
  -ms-transform:	translateY(-50%);
  -o-transform:	translateY(-50%);
  transform:	translateY(-50%);
  text-align: center;
  vertical-align: middle;

  background-color: #eae3d7;
}

.vertical-hr{
  display: inline-block;

  width: 1px;
  height: 41px;
  padding: 0px 0px 0px 0px;

  text-align: center;

  background-color: #000000;
}

.vertical-hr2{
  display: inline-block;

  width: 3px;
  height: 90px;
  padding: 0px 0px 0px 0px;

  text-align: center;

  background-color: #fff;
}

.select{
  padding: 15px 15px 15px 15px;

}

#esempio_select{
  width: 50%;
  height: 41px;

  border: 1px solid #e2d9c8;
}

.dettagli_prodotti{
  margin: 10px 10px 10px 10px;
  padding: 10px;

  border: 1px solid #CCAF95;
}

.img_prodotti{
  max-width: 100%;
  height: auto;
}

.prodotti{
  padding-left: 100px;
}

.orange{
  padding: 10px 10px 10px 0px;

  color: #f49626;

}

.old_price{
  padding-right: 10px;

  text-decoration: line-through;

  font-size: 20px;
}

.new_price{
  color: red;

  font-size: 20px;
}

.carrello_newProducts{
  padding: 2px 2px 2px 2px;

  text-transform: uppercase;

  border: 1px solid #693935;

  font-size: 18px;
}

a.carrello_newProducts:hover
a.carrello_newProducts:focus{
  background-color: #f49626;
}

.red {
  color: red;
}

.footer{
  position: relative;
  top: 230px;

  padding: 0px 0px 0px 0px;
}

.footer1{
  padding: 10px 10px 10px 10px;

  background-color: #f4efe8;
}

.footer_icons{
  padding: 10px 10px 10px 10px;
}

.footer2{
  margin-top: 10px;
  padding: 50px 10px 10px 10px;

  background-color: #f4efe8;
}

.aboutline {
  margin: 0 0 0 0;
  border: 1px dotted #693935;
}
